/* 
Font
font-family: 'Bangers', cursive; --> header
font-family: 'Permanent Marker', cursive; --> header
font-family: 'Open Sans', sans-serif; --> text
*/
:root {
    --primary-color: #C11F1F ; /*venetian red*/
    --secondary-color: #FFFFFF; /*white*/
    --header-color: #d82a33; /*rose madder*/
    --light-grey: #F7F0F0; /*isabelline*/
    --dark-color: #1C110A; /*smoky black*/
  }
/* Color */

.lawFirm--navbar-cover.sticky, .lawFirm--filter-search .btn {
    background-color: var(--header-color);
}

.lawFirm--page-title, .lawFirm--page-title:before {
    background-color: var(--primary-color);
}

.lawFirm--filter-search {
    box-shadow: 0px 5px 20px 0 rgba(193, 31, 31 , 0.5);
}

/* Index */
.lawFirm--w-process-items .lawFirm--acc-item .expand-area ul {
    list-style: disc;
}
.lawFirm--w-process-items .lawFirm--acc-item .expand-area ul li {
    margin-left: 5px;
}
